doctype
html( lang='en' )
	head
		meta(charset='utf-8')
		title Boot
		script(src='http://js.pusher.com/1.12/pusher.min.js')
		style
			@font-face {
				font-family: 'silkscreennormal';
				src: url('asset/font/slkscr-webfont.eot');
				src: url('asset/font/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
					url('asset/font/slkscr-webfont.woff') format('woff'),
					url('asset/font/slkscr-webfont.ttf') format('truetype'),
					url('asset/font/slkscr-webfont.svg#silkscreennormal') format('svg');
				font-weight: normal;
				font-style: normal;
			}
	body
		div#app
		script(src='./asset/script/app.game.js')
